h2 About

p Application allows logged in user to Create, Update, Delete and Reorder records in database using Drag &amp; Drop functionality. 

h3 Screenshots


= image_tag '/admin-area.png', alt: 'Admin area'


= image_tag '/record-updated-modal.png', alt: 'Record updated modal'


